/*
  Pragmatic JavaScript
  Chapter 3
  Programming Assignment

  Author: Leslie Khattarchebli
  Date: 7/13/25
  Filename: Week-7 Assignment
*/

/* Add your CSS styles here */

.chef {
  border: 2px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #f0f1ff;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

body {
  background-color: black;
}